body{
    background: url("https://st3.depositphotos.com/6188090/14749/v/450/depositphotos_147494263-stock-illustration-laughing-yellow-smiley-in-circle.jpg") no-repeat;
    background-blend-mode: lighten;
    background-color: rgba(255,255,255,0.6);
    
    width: 300px;
    border-radius: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading{
    font-family:  "Briem Hand", cursive;
    color: rgb(64, 58, 128);
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
}

p{
    box-shadow: inset 12px 12px 20px 3px pink,inset -8px -8px 20px 3px pink;
    display: inner-flex;
    margin: auto 10px;
    font-size: 22px;
    color: rgb(129, 14, 14);
    border-radius: 6px;
    background-color: white;
    border: 1px solid rgb(63, 133, 156);
    padding: 10px;
}